---
import Layout from "../layouts/Base.astro";
---

<Layout
  title="About Datonic"
  description="The best place for communities to collaborate on data. Create, curate, and share datasets with the world."
>
  <div class="flex justify-between items-center my-6">
    <h1 class="text-6xl font-bold my-6">
      <a class="text-amber-400" href="/">Datonic</a>
    </h1>

    <img src="/favicon.svg" alt="Datonic Logo" class="h-10 mr-12" />
  </div>

  <main>
    <p class="text-3xl py-4">
      Datonic aims to be the best place for communities to collaborate on data.
      It is not a new standard. It aims to build upon, coalesce, and make
      bridges.
    </p>

    <p class="text-3xl py-4">
      The goal is to bring Open Data to the level of Open Source by making Open
      Data compatible with the modern data ecosystem.
    </p>

    <p class="text-3xl py-4">
      Let's move towards a world that produces open data with open source
      software using open protocols running on open infrastructure.
    </p>

    <h3 class="text-5xl pt-8 text-amber-400">Ideals to Strive</h3>

    <ul class="text-3xl list-inside list-disc pl-6 py-4 leading-10">
      <li>Community Focus</li>
      <li>Modularity</li>
      <li>Permissionless Ecosystem</li>
      <li>Declarative Tooling</li>
      <li>Inmutability</li>
      <li>Serverless Approach</li>
      <li>Pragmatic Decentralization</li>
      <li>Reproducible and Accessible</li>
      <li>Optimized for Humans</li>
    </ul>
  </main>
</Layout>
