---
import Layout from "../layouts/Base.astro";
import { Image } from "astro:assets";
---

<Layout
  title="About Datonic"
  description="The best place for communities to collaborate on data. Create, curate, and share datasets with the world."
>
  <div>
    <br />
    <Image src="/favicon.svg" alt="Datonic Logo" width={80} height={80} />
    <h1 style="text-align: center;">
      <a href="/" style="text-decoration: none;">Datonic</a>
    </h1>
  </div>

  <main>
    <p>
      Datonic aims to be the best place for communities to collaborate on
      tabular data. It is not a new standard. It aims to build upon, coalesce,
      and make bridges.
    </p>

    <p>
      The goal is to bring <a
        href="https://publish.obsidian.md/davidgasquez/Open+Data"
        >Open Data to the level of Open Source</a
      >
      by making Open Data integrate with the modern data ecosystem.
    </p>

    <p>
      Let's move towards a world that produces open data with open source
      software using open protocols running on open and public infrastructure.
    </p>

    <h2>Ideals to Strive</h2>

    <ul>
      <li>Community Focus</li>
      <li>Modularity</li>
      <li>Permissionless Ecosystem</li>
      <li>Declarative Tooling</li>
      <li>Inmutability</li>
      <li>Serverless Approach</li>
      <li>Pragmatic Decentralization</li>
      <li>Reproducible and Accessible</li>
      <li>Optimized for Humans</li>
    </ul>
  </main>
</Layout>
