---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="About Datonic"
    description="The best place for communities to collaborate on data. Create, curate, and share datasets with the world."
>
    <h1 class="text-6xl font-bold my-6">Datonic</h1>

    <main>
        <p class="text-3xl py-4">
            Datonic is, for now,
            <a
                href="https://publish.obsidian.md/davidgasquez/Open+Data"
                class="hover:underline text-amber-300"
            >
                only an idea
            </a> in someone's mind.
        </p>

        <p class="text-3xl py-4">
            It aims to be the best way to share and collaborate on open
            datasets. It is not a new standard. It aims to build upon, coalesce,
            and make bridges.
        </p>

        <p class="text-3xl py-4">
            The goal is to bring Open Data to the level of Open Source by making
            Open Data compatible with the modern data ecosystem.
        </p>

        <h3 class="text-6xl pt-8">Ideals to Strive</h3>

        <ul class="text-3xl list-inside list-disc py-4 leading-10">
            <li>Community Focus</li>
            <li>Modularity</li>
            <li>Permissionless Ecosystem</li>
            <li>Declarative Tooling</li>
            <li>Inmutability</li>
            <li>Serverless Approach</li>
            <li>Pragmatic Decentralization</li>
            <li>Reproducible and Accessible</li>
            <li>Optimized for Humans</li>
        </ul>
    </main>

    <nav class="text-3xl py-4 text-amber-300">
        <ul>
            <a class="pr-6 hover:underline" href="/">Home</a>
            <a class="pr-6 hover:underline" href="https://github.com/datonic"
                >GitHub</a
            >
            <a
                class="pr-6 hover:underline"
                href="https://twitter.com/datonic_io">Twitter</a
            >
        </ul>
    </nav>
</Layout>
