---
import Layout from "../layouts/Base.astro";
import { Image } from "astro:assets";
---

<Layout
  title="Datonic"
  description="The best place for communities to collaborate on data. Create, curate, and share datasets with the world."
>
  <div>
    <br />
    <Image src="/favicon.svg" alt="Datonic Logo" width={80} height={80} />
    <h1 style="text-align: center;">
      <a href="/" style="text-decoration: none;">Datonic</a>
    </h1>
  </div>

  <main>
    <p>
      The best place for communities to collaborate on data. Create, curate, and
      share datasets with the world.
    </p>
  </main>

  <div>
    <h2>
      <a href="/about">About</a>
    </h2>
    <p>
      How Datonic works, how you can collaborate, and what are our intentions
      and views on Open Data.
    </p>
  </div>

  <div>
    <h2>
      <a href="https://datadex.datonic.io">Datadex</a>
    </h2>
    <p>
      An open source, serverless, and local-first Data Platform pattern to help
      communities collaborate on Open Data.
    </p>
  </div>

  <div>
    <h2>
      <a href="https://github.com/datonic/hub">Hub</a>
    </h2>
    <p>
      The place to discuss how to do Open Data with open protocols running on
      open infrastructure.
    </p>
  </div>

  <div>
    <h2>
      <a href="https://publish.obsidian.md/davidgasquez/Open+Data"
        >Open Data Notes</a
      >
    </h2>
    <p>
      All the raw notes on how Open data creates open knowledge and how can we
      improve the current open data ecosystem.
    </p>
  </div>

  <hr />

  <nav>
    <ul>
      <li>
        <a href="https://github.com/datonic">GitHub</a>
      </li>
      <li>
        <a href="https://twitter.com/datonic_io">Twitter</a>
      </li>
    </ul>
  </nav>
</Layout>
