---
import Layout from "../layouts/Base.astro";
---

<Layout
  title="Datonic"
  description="The best place for communities to collaborate on data. Create, curate, and share datasets with the world."
>
  <div class="flex justify-between items-center my-6">
    <h1 class="text-6xl font-bold my-6">
      <a class="text-amber-400" href="/">Datonic</a>
    </h1>

    <img src="/favicon.svg" alt="Datonic Logo" class="h-10 mr-12" />
  </div>

  <main>
    <p class="text-3xl py-4">
      The best place for communities to collaborate on data. Create, curate, and share datasets with the world.
    </p>
  </main>

  <div class="grid grid-cols-2 gap-4 py-12">
    <div class="pb-4">
      <h2 class="text-3xl">
        <a class="text-amber-400 hover:underline" href="https://datadex.datonic.io">Datadex</a>
      </h2>
      <p class="text-2xl pt-3">
        An open source, serverless, and local-first Data Platform pattern to help communities collaborate on Open Data.
      </p>
    </div>

    <div class="pb-4">
      <h2 class="text-3xl">
        <a class="text-amber-400 hover:underline" href="https://github.com/datonic/hub">Hub</a>
      </h2>
      <p class="text-2xl pt-3">
        The place to discuss how to do Open Data with open protocols running on open infrastructure.
      </p>
    </div>

    <div class="pb-4">
      <h2 class="text-3xl">
        <a class="text-amber-400 hover:underline" href="/about">About</a>
      </h2>
      <p class="text-2xl pt-3">
        How Datonic works, how you can collaborate, and what are our intentions and views on Open Data.
      </p>
    </div>

    <div class="pb-4">
      <h2 class="text-3xl">
        <a class="text-amber-400 hover:underline" href="https://publish.obsidian.md/davidgasquez/Open+Data">Open Data Notes</a
        >
      </h2>
      <p class="text-2xl pt-3">
        All the raw notes on how Open data creates open knowledge and how can we improve the current open data ecosystem.
      </p>
    </div>
  </div>

  <nav class="text-amber-400">
    <ul>
      <a class="pr-6 hover:underline" href="https://github.com/datonic">GitHub</a>
      <a class="pr-6 hover:underline" href="https://twitter.com/datonic_io">Twitter</a>
    </ul>
  </nav>
</Layout>
